.sidebar{
    min-height: 100vh;
    background: #2F323A;
    box-shadow: 2px 3px 4px 4px grey;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.sidebar-container>div{
    padding: 10px 20px;
}
.sidebar-container>div>svg{
    color: #fff;
    margin-right: 10px;
}