.menu{
  margin-left: 100px;
  padding-right: 111px;
}

.navbars {
    /* overflow: hidden; */
    background-color: #f9f9f9 !important;
    color:red !important; 
    /* padding: 14px 16px; */
  }
  
  .navbars a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* .navbars Link{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  .dropdowns {
    float: left;
    /* overflow: hidden; */
  }
  dropbtns{
    color:white   !important ;
  }
  
  .dropdowns .dropbtns {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbars a:hover, .dropdowns:hover .dropbtns {
    background-color: #0000FF;

  }
  
  .dropdown-contents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
  }
  
  .dropdown-contents a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-contents a:hover {
    background-color: #ddd;
  }
  
  .dropdowns:hover .dropdown-contents {
    display: block;
  }