.signrow{
    padding-left: 0!important;
}
.bg-box {
    position: relative;
    padding-left: 0!important;
}
.signupform{
    display: flex;
    width: 70%;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.signup_text {
    background: #0A192F;
    clip-path: circle(170% at -60% -40%);
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
    padding-top: 100px;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    margin-left: 0;
}

.signup_text>h2,p{
    color: #ffffff;
    text-align: center;
}
.imgBox {
    position: absolute;
    top: 37%;
    right: 19%;
}
.imgBox>img{
    width:400px
}