.answer-btn {
  display: block;
  width: 100%;
  margin: 0.75rem auto;
  background: hsl(205, 90%, 76%);
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  transition: var(--transition);
}
.dash{
  text-align: center;
  margin-left: 40px;
}